*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(179, 228, 211);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(115, 175, 175);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(86, 161, 247);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

table {
    border-collapse: collapse; 
}

table tbody td{
    border: 1px solid black;
}

table thead th{
    border: 1px solid black;
    background-color: black;
    color: white;
}

table tbody tr:hover td{
    background-color: darkgrey;
    cursor: pointer;
}
.footer {
    background-color: rgb(211, 198, 255);
    min-height: 150px;
    
}

.central-atend {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.telefone {
    margin-top: 8px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social img {
    width: 138px;
    margin-top: 8px
}

.endereco {
    text-align: center;
}